*{
    /* pozwala na sklowanie elementów włączająć padding
    (domyślnym zachowaniem przy skalowaniu elementów i border 
    tylko wielkości elementu - bez bprdera i paddingu)*/
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}

main{
    border: 5px dashed rgb(32, 210, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    /*position relative, zachowuje się jak static - czyli dopmyślnie 
    ale nie jest static, więc absoulutinie wewnątrz, dostosowują 
    się do niej*/
    border: 5px dashed blue;
    position: relative;
    /* szerokośćna 90 ze 100 kratek */
    width: 90vw;
    /* wysokość 90 ze 100 kratek*/
    height: 90vw;
    /* dzięki ustaleniu wspólnej wielkośdci na width i height 
    otzrymujemy kwadrat*/
} 

article p,
article img{
    /* pozwala nałożyć jeden element na 2(nie zwacając uwagi na rodzenstwo
    a dostosowuje się do najbliższego przodka który nie jest w pozycji stałej) */
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px dashed rgb(222,-17,-51);
    margin: 0;
    /*wyśrodkowanie wnętrza elementu*/
    display: flex;
    align-items: center;
    justify-content: center;
}
article p{
    background-color: antiquewhite;
    transition: .5s;
    /* opóźnia zmianę elementu o jakiś czas (.5s = pół sek)*/
 }
 /* active - odnosi sie do elementu po kliknięciu*/
 /* hover - to samo co wyżej tylko na nakierowanie myszki*/
 article p:active{
    opacity:0;
 }

 header{
    position: sticky;
    top: 0%;
    background-color:rgb(6, 110, 110);
    z-index: 1;
    
 }
 footer{
    position:fixed;
    bottom:0%;
    left:0;
    width: 100%;
    background-color: rgb(6, 110, 110);
    padding-left: 2rem;
 }

@media (min-width:768px) {
    article{
        width: 35vw;
        height: 35vw;
        margin-bottom: 5vw;
    }  
    main{ /*zawsze jak cos chcemy dodać nowego to tworzymy maina*/ 
        flex-direction: row;
        /*elemnety spadają niżej do kolejnego wiersza(w tym przypadku
        obrazki), jeśli nie mieszczą sie na polu ekranu*/
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
    }
 }
