.container {
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/109/599/original/sunset-background-with-coconut-tree-vector.jpg");
}

.table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.email {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.textarea {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}