body{
    background-color: royalblue;
    margin:0;
    main{
      border:2px dashed red;
      header{
        .city{
          border:2px dashed blue;
          display:flex;
          justify-content: space-between;
          align-items: center;
          .mainInfo{
            display:flex;
            flex-direction: column;
            align-items: center;
            img{
              max-height:7rem;
            }
            h2{
              margin:0;
            }
          }
        }
      }
      .content{
        border:2px dashed rgb(224, 235, 21);
        .cube{
          border:2px dashed rgb(249, 188, 8);
  
        }
      }
  
  
    }
  
  }